body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f9f9f9;
    color: #333;
}

header {
    background-color: #c39d52;
    color: #fff;
    text-align: center;
    padding: 2em;
    position: relative;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

header p {
    font-size: 1.2em;
}

.cta-section {
    text-align: center;
    padding: 4em 2em;
}

.cta-section h2 {
    font-size: 2.5em;
    color: #333;
}

.cta-section p {
    font-size: 1.2em;
    color: #fff;
    margin-bottom: 2em;
}

.cta-button {
    display: inline-block;
    background-color: #000;
    color: white;
    padding: 15px 30px;
    font-size: 1.2em;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.cta-button:hover {
    background-color: #333;
}

footer {
    background-color: #744d0d;
    color: #fff;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
