

/* common css */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}
p{
    padding: 0;
    margin:0;
}
li{
    list-style: none;
}
body{
    font-family: 'Poppins', sans-serif;
}
h1,h2,h3,h4,h5,h6{
    font-weight: 600;
    padding: 0;
    margin:0;
}



ul{
    list-style: none;
    }
    
    a:hover{
    text-decoration: none;
    color: #6e57e0;
    }
    .inner_container{
    display: flex;
    flex-wrap: wrap;
    }
    .items-middle{
    align-items: center;
    }
    .space-between{
    justify-content: space-between;
    }
/*-------------------------------------------------header---------------------------------------------*/
.header{
    background: #000000ee;
    padding:5px 0px;
   
    
    }
    
    .sticky {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      z-index: 100;
      background: #000000;
    }
    
    .header .logo a{
    font-size: 25px;
    color: #000000;
    font-weight: 500;
    text-transform: capitalize;
    }
    .logo img {
      width:80px;
    }
    .header .nav ul li{
    display: inline-block;
    margin-left: 20px;
    }
    .header .nav ul li a{
        display: block;font-size: 16px;
        text-transform: capitalize;
        color: #ffffff;
        padding: 10px 0;
        font-weight: 500;
        transition: all 0.3s ease;
    }
    
    .header .nav ul li a:hover{
      color:#6e57e0;
    }
    .nav-toggler{
    height: 34px;
    width: 44px;
    background-color: #ffffff;
    border-radius: 4px;
    cursor: pointer;
    border:1px solid #000;
    display: none;
    margin-right: 15px;
    }
    .nav-toggler:focus{
    outline: none;
    box-shadow: 0 0 15px rgba(255,255,255,0.5);
    }
    .nav-toggler span{
    height: 2px;
    width: 20px;
    background-color: #000000;
    display: block;
    margin:auto;
    position: relative;
    transition: all 0.3s ease;
    }
    .nav-toggler.active span{
    background-color: transparent;
    }
    .nav-toggler span::before,
    .nav-toggler span::after{
    content: '';
    position: absolute;
    left:0;
    top:0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    transition: all 0.3s ease;
    }
    .nav-toggler span::before{
    transform: translateY(-6px);
    }
    .nav-toggler.active span::before{
    transform: rotate(45deg);
    }
    .nav-toggler span::after{
    transform: translateY(6px);
    }
    .nav-toggler.active span::after{
    transform: rotate(135deg);
    }
    @media(max-width:991px){
    .nav-toggler{
    display: block;
    }
    .logo img {
      width:65px;
    }
    img#hover-image {
      width: 65%;
    }
    .about_pic img {
      width: 70%;
    }
    .profile_content img{
    width: 50%;
    border-radius: 10px;
    }
    
    .header .nav{
    width: 100%;
    padding:0;
    max-height: 0px;
    overflow: hidden;
    visibility: hidden;
    transition: all 0.5s ease;
    }
    .header .nav.open{
    visibility: visible;
    }
    .header .nav ul{
    padding:12px 15px 0;
    margin-top: 12px;
    width: 100%;
    border-top:1px solid rgba(255,255,255,0.2);
    }
    .header .nav ul li{
    display: block;
    margin:0;
    }
    }
    









/*-------------------------------------- button css ----------------------------------*/
.cash_link a{
    background-color:black;
    padding:10px 50px;
    color:#fff;
    border-radius: 50px;
    border:2px solid #fff;
    display: inline-block;
    transition: 0.2s;
}
.cash_link a:hover{
    background-color:rgb(255, 255, 255);
    color:#000;
    border:2px solid #000;
}
.contact_link a{
    background-image: linear-gradient(to right, #b544f5, #a14aef, #8d4fe9, #7952e1, #6653d8);
    padding:10px 40px;
    color:#fff;
    border-radius: 50px;
    display: inline-block;
}











/*------------------------------------------- service css ----------------------------------*/
.services{
    
    background: #edfff6;
}
.service_box{
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
    padding:15px 20px;
    margin:10px 0px;
}
.service_box i{
    padding-right: 7px;
}

.side_banner{
    background: url(../images/subbanner-1-image.jpg) no-repeat;
    background-position: center center;
    background-size: cover;
    height: 40vh;
    position: relative;

}

.side_banner_2{
    background: url(../images/diamonds.jpg) no-repeat;
    background-position: center center;
    background-size: cover;
    height: 40vh;
    position: relative;

}

.sidebar_button {
    position: absolute;
    bottom: 5%;
    right: 5%;
    padding: 0;
    color: #ff0000; 
  }

  .contact_link.sidebar_button a {
    background-image: linear-gradient(to right, #b544f5, #a14aef, #8d4fe9, #7952e1, #6653d8);
    padding:5px 25px;
    color:#fff;
    border-radius: 50px;
    display: inline-block;
    font-size: 16px;
    font-weight: 600
}

.details_bio h4{
    position: relative;
    font-weight: 800;
    margin-bottom: 15px;
    z-index: -1;
    
}
.details_bio h4::after {
    content: "";
    display: block;
    width: 10%;
    height: 3px;
    background-color: #616060;
    margin-top:10px; 
  }
.details_button a{
    font-weight: 600;
    color:#fff;
    background: #000;
    font-size: 15px;
    padding: 10px 25px;
    transition: 0.3s;
    border-radius: 50px;
}
.details_button a:hover{
    color:#ffffff;
    background-image: linear-gradient(to right, #b544f5, #a14aef, #8d4fe9, #7952e1, #6653d8);
    transition: 0.3s;
}

.contact_social i{
    font-size: 22px;
}
.contact_info{
    margin-bottom: 10px;
}
.accordion-button{
    padding: 0.5rem;
}
.accordion-button:focus {
    box-shadow: none;
}
.accordion-button:not(.collapsed) {
    color: #000;
    background-color: #fff;
    box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0 var(--bs-accordion-border-color);
}

.extra_clr a{
    color: #6c757d!important;
}


@media only screen and (max-width: 667px) {
    .side_banner, .side_banner_2{
        height: 30vh;
        margin: 10px 0px;
    }

  }
